body{
  background-color: #22130D;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  max-width: 1500px;
}
.container{
  margin: auto;
  width: 70%;
  text-align:center;
}
h1{
  /*animation: pat-animation 5s steps(20, start) infinite;*/
  font-size: 10em;

}

/*
@keyframes pat-animation {
  0%   { color: #ffff00;  }
  20%  { color: #ffcd00;  }
  40%  { color: #c3d74b;  }
  60%  { color: #c3d7d7;  }
  80%  { color: #ffc39b;  }
  100% { color: #ffff00;  }
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
*/


.header {
  background-color: #22130D;
  display: block;
 

}
.header img{
  max-height:60px;
  margin: auto;
  display:block;
}

.section-intro {
  background: rgb(110,204,224); /* Old browsers */
   background-image: url(../images/desktop.png),  linear-gradient(to bottom,  rgba(110,204,224,1) 0%,rgba(54,44,41,1) 100%);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-size: cover;
   background-position:top center;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   
}


.wave-text{
max-width: 60%;
margin: auto;
padding-top: 54px;
}

.wave-divider1{
background:url(../images/wave1.png)no-repeat;
background-size:100%;
height: 357px;
display:block;
padding:0 10 0 0px;
margin:0;
background-color: #22130D;
  
}
.wave-divider2{
background:url(../images/wave-dead-coral.png)no-repeat;
background-size:100%;
height: 352px;
display:block;
padding:0 10 0 0px;
margin:0;
background-color: #22130D;
}


.section-intro-wrapper{
  position:relative;
  height:0;
  padding-bottom: 123.65%;


}

.wave-divider-coal {
   background-image: url(../images/wave2.png);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-size: cover;
   background-position:top center;
   width: 100%;
   height: 400px;
   background-color: #22130D;
}


.section-intro h2{
  text-transform: lowercase;
  color: #3C2415;
  margin-top: 501px;
  font-size: 40px;
  font-weight: bold;


}



.section-text {
  color: rgb(255,255,255);
  background-color: rgb(34, 19, 13);
  
}

.join-the-fight-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 5px;

}
.section-text-above-video{
  padding: 0 0 50px 0;

}
.join-the-fight-container2{
  width: 474px;
  margin: 0 auto;
}

.section-text-under-video{
  padding: 80px 0 80px 0;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 40px;
}

.tagline p{
  padding-top: 100px;
  font-size: 22.5px;
}
.tagline h2{
  color: #8b5e3c;
  font-size: 50px;
  margin-bottom: 76px;
}



.row{
  text-align: left;
}

p{
  /*padding-top: 40px;*/
  
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 100px;
}

/*.tagline{
margin-bottom: -20px;
font-size: 22.5px;
}*/
h1{
  text-align: center;
}
h2 {
text-transform: uppercase;
letter-spacing: 4px;
font-size: 40px;
text-align: center;
}



h3{
  text-align: centre;
  letter-spacing: 2px;
  font-size: 40px;
  margin-top: 57px;

}



.btn-primary {
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%;
  height: 60px;
  font-size: 30px;
  background-color: #6DCCE0;
  border-color: none;
  border-width: 0px;
  position: center;

}

.btn-primary:hover{
  background-color: #F58A8B;
}


.space-above{
  padding-top: 100px;
}

.hidden-sm-up{
  background-color: #6dcce0;
  display: block;
}
.section-video {
  background-color: rgb(109,204,224);
  padding:  0 20px;
}
.video-breaks-out-of-container {
  margin-top: -50px;
  margin-bottom: -50px;
}
.logos{
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
}


.take-action{
  background-color: #22130D;
}

.footer {
  background-color: rgb(255,0,0);
}
.footer2{
  background-color: #6DCCE0;
  margin: auto;
}
