body{
  background-color: rgb(0,0,0);
}
.container{
  margin: auto;
  width: 50%;
  text-align:center;
}
h1{
  /*animation: pat-animation 5s steps(20, start) infinite;*/
  font-size: 10em;
}
/*
@keyframes pat-animation {
  0%   { color: #ffff00;  }
  20%  { color: #ffcd00;  }
  40%  { color: #c3d74b;  }
  60%  { color: #c3d7d7;  }
  80%  { color: #ffc39b;  }
  100% { color: #ffff00;  }
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
*/
.umm-bootstrap{
  font-size: 4em;
  padding: 2em;
  border: 8px dashed pink;
  height: 100%;
}

.header {
  background-color: rgb(255,0,0);
}

.section-intro {
  background: rgb(110,204,224); /* Old browsers */
  background-image: url(../images/diggers_and_reef.png), linear-gradient(to bottom,  rgba(110,204,224,1) 0%,rgba(54,44,41,1) 100%);
}

.section-text {
  color: rgb(255,255,255);
  background-color: rgb(34, 19, 13);
  
}
.section-text-above-video{
  padding: 80px 0 130px 0;

}
.section-text-under-video{
  padding: 130px 0 80px 0;

}

.section-video {
  background-color: rgb(109,204,224);
  padding:  0 20px;
}
.video-breaks-out-of-container {
margin-top: -50px;
margin-bottom: -50px;


}

.footer {
  background-color: rgb(255,0,0);
}
