



@media(max-width: 1200px){
	.section-intro h2{
		font-size: 25px;
		margin-top: 616px;
	}
	.section-intro{
background-image: url(../images/desktop-section-intro.png),  linear-gradient(to bottom,  rgba(110,204,224,1) 0%,rgba(54,44,41,1) 100%);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-size: cover;
   background-position:top center;
   position:absolute; 
}
		
	.video-breaks-out-of-container{
	  margin: 0;
	}
	.section-video {
	padding:0;
	  }
	.section-video .container-fluid{
	  padding: 0;
	  }
	  .wave-text{
	  	max-width: 70%;
	  }
.wave-divider1{
	   height: 231px;
}

}

@media(max-width:992px){
.section-intro h2{
	 margin-top: 539px;
	 font-size: 25px;
	}
	
}


@media(max-width:768px){
  .tagline-mobile{
    background-color:#6dcce0;
    padding-top:10px;
    padding-bottom: 10px;
}
.wave-text{
  	max-width: 90%;
  	padding-top: 58px;
  	}
  
  .tagline p{
    padding-top: 0;
  }  
  .section-intro{
background-image: url(../images/mid-width-section-intro.png),  linear-gradient(to bottom,  rgba(110,204,224,1) 0%,rgba(54,44,41,1) 100%);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-size: cover;
   background-position:top center;
   position:absolute; 
}
.section-intro h2{
	margin-top: 522px;
	font-size: 24px;

}
.section-intro-wrapper{
	padding-bottom: 217.65%;

}
      
.container{
width: 92%;
font-weight: lighter;

}
.join-the-fight-container{
margin-top: -4px;
}
.join-the-fight-container2{
	margin-top: 82px;
	width:300px;
}


.wave-divider1{
	   height: 169px;
}

}

@media(max-width: 650px){
.section-intro h2{
	margin-top: 355px;
}

.wave-divider1{
	   height: 137px;
}

}

@media (max-width: 480px) {
.section-intro{
background-image: url(../images/mobile-section-intro.png),  linear-gradient(to bottom,  rgba(110,204,224,1) 0%,rgba(54,44,41,1) 100%);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-size: cover;
   background-position:top center;
   position:absolute; 
}

	.section-intro h2{
		font-size: 18px;
		margin-top: 401px;
		margin-bottom: 10px;
	}

	.section-intro-wrapper{
		padding-bottom: 235.65%;
	}

	.section-text-above-video h3{
	letter-spacing: 3px;
    font-size: 26px;
    line-height: 47px;
	}
	.section-text-under-video{
	line-height: 31px;

	}
	.container{
	width: 90%;
	}
	p{
	font-size: 17px;
	font-weight: lighter;
	line-height: 40px;
	}

	.space-above{
		padding-top: 24px;
		font-size: 17px;
	}
	.tagline p{
	padding-top: 24px;
	font-size: 30px;
	}
	.tagline h2{
	font-size: 44px;
    line-height: 51px;
	}
	.row{
	margin-right: 0;
    margin-left: 0;
	}

	.wave-divider1{
	background:url(../images/wave-coal-mobile.png)no-repeat;
	background-size:100%;
	height: 135px;
	display:block;
	padding:0 10 0 0px;
	margin:0;
	background-color: #22130D;
}

	.wave-divider2{
	background:url(../images/wave-dead-mobile.png)no-repeat;
	background-size:100%;
	height: 135px;
	display:block;
	padding:0 10 0 0px;
	margin:0;
	background-color: #22130D;
	}
	
 


.blue-video-strip1{
	height: 40px;
	background-color: #6DCCE0;
}

.blue-video-strip2{
	height: 40px;
	background-color: #6DCCE0;
}
.join-the-fight-container{
	max-width: 70%;
}

}




@media (max-width: 375px) {
	.section-intro h2 {
	margin-top: 296px;

	font-size: 17px;
}
.btn-primary{
	font-size: 26px;
}

.section-intro{
background-image: url(../images/mobile-section-intro.png),  linear-gradient(to bottom,  rgba(110,204,224,1) 0%,rgba(54,44,41,1) 100%);
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-size: cover;
   background-position:top center;
   position:absolute; 
}
.section-intro-wrapper {
    padding-bottom: 233.65%;
  }

}




