@media(max-width: 1024px){
.video-breaks-out-of-container{
  margin: 0;
}
.section-video {
padding:0;
  }
.section-video .container-fluid{
  padding: 0;
  }
}
@media(max-width:768px){
  .tagline-mobile{
    background-color:#6dcce0;
    padding-top:10px;
    padding-bottom: 10px;
}
  
  .tagline p{
    padding-top: 0;
  }  
}

@media (min-width: 768px) {
	
}